<% for(var i=0; i < interaction_descriptor.prepared_interactions.length; i++) { %>
  <div class="d-flex flex-column bd-highlight mb-3">
    <div class="p-2 nested_content-box">
      <% var interaction = interaction_descriptor.prepared_interactions[i]; %>
      <% var username_client = interaction_descriptor.user_map[interaction.client_userid].username; %>
      <% var username_host = interaction_descriptor.user_map[interaction.host_userid].username; %>
      <% var interaction_timestamp = interaction.timestamp; %>
      <h6> <%= username_client %> odwiedził <%= username_host %> <%= interaction_timestamp %></h6>
      <div class="d-flex flex-row bd-highlight mb-3">
        <div class="p-2 nested_content_comment-box">
          <%- include('interaction.ejs', {interaction: interaction, user_map: interaction_descriptor.user_map, comment_map: interaction_descriptor.comment_map, identity: "host", primary_userid: interaction.client_userid, responder_userid: interaction.host_userid, authorized_actor: authorized_actor, layer: i}); %>
        </div>
        <div class="p-2 nested_content_comment-box nested_content_comment-box-respondee">
          <%- include('interaction.ejs', {interaction: interaction, user_map: interaction_descriptor.user_map, comment_map: interaction_descriptor.comment_map, identity: "client", primary_userid: interaction.host_userid, responder_userid: interaction.client_userid, authorized_actor: authorized_actor, layer: i}); %>
        </div>
      </div>
    </div>
  </div>
<% } %>
