<% if(identity == "client") { %>
  <% var comment_id = interaction.host_comment_reference %> 
  <% var response_id = interaction.client_response_reference %> 
<% } else { %>
  <% var comment_id = interaction.client_comment_reference %> 
  <% var response_id = interaction.host_response_reference %> 
<% } %>

<% var primary_username = user_map[primary_userid].username %> 
<% var responder_username = user_map[responder_userid].username %> 
<% var primary_pfp = user_map[primary_userid].pfp_uri %> 
<% var responder_pfp = user_map[responder_userid].pfp_uri %> 

<div class="d-flex flex-column bd-highlight mb-3">
  <!-- profile picture and metadata -->
  <div class="p-2 bd-highlight">
    <div class="d-flex flex-row bd-highlight mb-3">
      <img class="rounded-circle p-2 bd-highlight img-responsive" src="<%= primary_pfp %>" style="max-width: 15%;">
      <div class="position-relative translate-middle badge rounded-pill bg-secondary" style="height: 10%;">⭐⭐⭐⭐⭐</div>
      <p class="p-2 bd-highlight" style="width: 100%; align-self: end; position:relative; left:-12%; top:20%">
        <%= identity %> Użytkownik <%= primary_username %> skomentował o  <%= comment_map[comment_id].timestamp %> :
      </p>
    </div>
  </div>

  <!-- comment body -->
  <% if(comment_id != "None") { %>
    <div class="p-2 bd-highlight">
      <% if(comment_map[comment_id].resource_uri == 'None' && comment_map[comment_id].content == 'None') { %>
        <p>wtf?</p>
      <%= comment_map[comment_id].content %> 
      <% } else if(comment_map[comment_id].resource_uri != 'None' && comment_map[comment_id].content == 'None') { %>
        </p><%= comment_map[comment_id].resource_uri %></p>
      <% } else if(comment_map[comment_id].resource_uri == 'None' && comment_map[comment_id].content != 'None') { %>
        <p><%= comment_map[comment_id].content %></p>
      <% } else if(comment_map[comment_id].resource_uri != 'None' && comment_map[comment_id].content != 'None') { %>
        <div class="d-flex flex-row bd-highlight mb-3">
          <p class="p-2 bd-highlight"><%= comment_map[comment_id].content %> </p>    
          <img class="p-2 bd-highlight img-responsive" src="<%= comment_map[comment_id].resource_uri %>" style="max-width: 30%;">
        </div>
      <% } else { %>
        <p>wtf></p>
      <% } %>
    </div>

    <% if(response_id != "None") { %>
      <!-- response body -->
      <% if(identity == "host") { %>
        <div class="nested_content_user-box">
      <% } else { %>
        <div class="nested_content_host-box">  
      <% } %>
        <div class="d-flex flex-row bd-highlight mb-3">
          <img class="rounded-circle p-2 bd-highlight img-responsive" src="<%= responder_pfp %>" style="max-width: 15%;">
          <div class="position-relative translate-middle badge rounded-pill bg-secondary" style="height: 10%;">⭐⭐⭐⭐⭐</div>
          <p class="p-2 bd-highlight" style="width: 100%; align-self: end; position:relative; left:-12%; top:20%">
            Użytkownik <%= responder_username %> skomentował o  <%= comment_map[response_id].timestamp %> :
          </p>
        </div>
        <%= comment_map[response_id].content %>
      </div>
    <% } %>
  <% } %>

</div>